{% block movingPics %}

    <div class="site-section">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-7">
                    <h2 class="heading-39291 mb-0">Our Services and Features</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="media-02819">
                        <a class="img-link small"><img src={{ asset('images/p4.png') }} alt="Image"
                                                       class="img-fluid"></a>
                        <h3><a>No Need To Go Out</a></h3>
                        <span>We believe that your health is the only thing that matters. </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="media-02819">
                        <a class="img-link"><img src={{ asset('images/p3.png') }} alt="Image"
                                                 class="img-fluid"></a>
                        <h3><a>The Best For the Best</a></h3>
                        <span>We try to provide you with the best service that you can ever experience.</span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="media-02819">
                        <a class="img-link"><img src={{ asset('images/p2.png') }} alt="Image"
                                                 class="img-fluid"></a>
                        <h3><a>Paying Is More Fun</a></h3>
                        <span> You can pay online! no need to go to the pharmacy any more.</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="media-02819">
                        <a class="img-link small"><img src={{ asset('images/p1.png') }} alt="Image"
                                                       class="img-fluid"></a>
                        <h3><a>The Help You need! The Help You Deserve!</a></h3>
                        <span>You can get all the informations you need about a drug or a certain service through SahtekAPP</span>
                    </div>
                </div>

            </div>
            <div class="row mb-5 align-items-center">
                <div class="col-md-7">
                </div>
                {% if not ( is_granted("ROLE_CLIENT") or is_granted("ROLE_PHARMACY") or is_granted("ROLE_CARETAKER")) %}
                <div class="col-md-5 text-right">
                    <h2 class="mb-0"><a href="{{ path('app_register') }}">Register Now!</a></h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}