<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/city.css') }}">
</head>
<body>
<div class="wrapper-grey padded">
    <div class="container">
        <h2 class="text-center">List of Drugs :</h2>
        <h4 class="text-center"><a href="{{ path('routing.homeIn') }}">Go Back To Lobby</a></h4>
        {% for drug in drugs %}
            <div class="col-xs-12 col-sm-4">
                <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                        /*url('https://i1.wp.com/handluggageonly.co.uk/wp-content/uploads/2015/05/IMG_2813-s.jpg?w=1600&ssl=1');*/
                        url('{{ asset(drug.featuredimage) }}');"
                >
                    <div class="card-category">Tunisia</div>
                    <div class="card-description">
                        <h2>{{ drug.name }}</h2>
                        <p>{{ drug.description }}</p>
                    </div>
{#                    {% if is granted('ROLE_PHARMACY') %}#}
{#                    <a class="card-link" href="{{ path(place, { 'drug': drug.name}) }}" ></a>#}
{#                    {% endif %}#}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>