{% extends 'base.html.twig' %}

{% block title %}Pharmacy List{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
    <div class="row">
        {% for pharma in pharmacy %}
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ asset(pharma.featuredimage) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ pharma.firstName }}</h5>
                    <p class="card-text">{{ pharma.lastName }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Opened In : {{ pharma.birthDate | date("d/m/Y") }}</li>
                    <li class="list-group-item">Open   : {{ pharma.open | date("h:i:sa") }}</li>
                    <li class="list-group-item">Closed : {{ pharma.close | date("h:i:sa")  }}</li>
                </ul>
                <div class="card-body">
{#                    <a href="{{ path('drug.list', {'id': pharma.id})}}" class="btn btn-primary">See Drugs</a>#}
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/drug.css') }}">
{% endblock %}
